.dateContainer {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;

  border: #e8dd09 4px solid;
  border-radius: 7px;
  padding: 10px;

  position: absolute;
  bottom: 20px;
  right: 20px;

  .clock {
    justify-content: center;
    font-size: 45px;
    color: white;
    margin: 10px auto;
  }

  .layer {
    background: #e8dd09;
    border: #e8dd09 1px solid;
    margin: 5px;
  }

  .dayOfWeek {
    font-size: 25px;
    color: white;
  }

  .date {
    color: white;
    font-size: 30px;
    margin: 3px auto;
  }
  .whiteLogo{
    height: 100px;
    width: 230px;
    border-radius: 7px;
  }
}