.homeContainer {
  position: relative;
  width: 100%;
  background: #4f4f4f;
  font-family: 'Josefin Sans', sans-serif;
 // font-family: 'Source Code Pro', monospace;

  .topLayer {
    background: #e8dd09;
    // border: #e8dd09 1px solid;
    width: 100vmax;
    height: 4px;
    position: absolute;
    left: 0;
  }

  .backgroundImage {
    height: 85vh;
    max-width: 100%;
    background-size: cover;
  }

  .welcome {
    position: absolute;
    margin: 0 auto;
    top: 20px;
    right: 20px;

    color: #ffffff;
    font-size: 40px;
   // font-weight: bold;

    border: #e8dd09 4px solid;
    border-radius: 7px;
    padding: 10px 40px ;
  }

  .dateContainer {
    display: flex;
    flex-direction: column;

    border: #e8dd09 4px solid;
    border-radius: 7px;
    padding: 10px;

    position: absolute;
    bottom: 20px;
    left: 20px;
    //font-weight: bold;

    .clock {
      justify-content: center;
      font-size: 40px;
      color: white;
      margin: 10px auto;
    }

    .layer {
      background: #e8dd09;
      border: #e8dd09 1px solid;
      margin: 5px;
    }

    .dayOfWeek {
      font-size: 25px;
      color: white;
    }

    .date {
      color: white;
      font-size: 35px;
      margin: 3px auto;
    }
  }
}