.navbarContainer {
  background-color: #4f4f4f;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    height: 100%;
  }

  .iconNameWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .iconWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100px;
      height: 100px;
      margin: 5px;
      padding: 3px;
      border: 1px solid rgba(253, 233, 34, 0.6);
      border-radius: 15px;
      background: #e8dd09;

      .icon {
        color: white;
        font-size: 30px;
      }

      .iconName {
        color: white;
        font-weight: bold;
      }

      .statusWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 10px 0;

        .status {
          font-size: 12px;
          color: white;
        }
      }

    }
  }

  .bottomLayer {
    background: #e8dd09;
    width: 100vmax;
    height: 4px;
    position: absolute;
    left: 0;
    top: 120px;
  }
}